:root {
  --background: #ffffff;
  --background-alt: #c2c8c9;
  --background-contrast: #101010;

  /* --primary: #fcbfed;
  --primary-alt: #fff6fb;
  --primary-glow: #f8e0f4; */
  --primary: #bfd5fc;
  --primary-alt: #f6f9ff;
  --primary-glow: #e0e9f8;
  --primary-contrast: #101010;

  --secondary: #dd8ab7;

  --thickness: 0.15rem;
  --round: 5rem;
  --rounded: 0.4rem;
  --spread: 0 0.05rem 0.5rem;
  --spacing: 0.6rem;
  --break: 0.25rem;
  --indent: var(--spacing) calc(var(--spacing) * 1.4);

  --small: 0.8rem;
  --normal: 1rem;
  --large: 1.5rem;
  --faded: 0.75;
  --animate: 0.15s ease;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
